<div class="new-rental">
    {{#if addNewRental}}
    <h1>New Rental</h1>
      <form>
        <div class="form-group">
          <label for="owner">Owner</label>
          {{input value=owner id="owner"}}
        </div>

        <div class="form-group">
          <label for="type">Type</label>
          {{input value=type id="type"}}
        </div>

        <div class="form-group">
          <label for="city">City</label>
          {{input value=city id="city"}}
        </div>

        <div class="form-group">
          <label for="bedrooms">Number of Bedrooms</label>
          {{input value=bedrooms id="bedrooms"}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input value=image id="image"}}
        </div>

        <div class="form-group">
          <label for="amenities">Amenities:</label>
          {{input value=amenities id="amenities"}}
        </div>

        <div class="form-group">
          <label for="squareFootage">Square Footage:</label>
          {{input value=squareFootage id="squareFootage"}}
        </div>

        <button class="btn btn-primary" {{action 'save1'}}>Save</button>
      </form>

  {{else}}

    <button class="btn btn-primary" {{action 'rentalFormShow'}}>New rental</button>
  {{/if}}
</div>
